$heading-bell: "Bellefair", serif;
$heading-bar: "Barlow", sans-serif;
$heading-barcon: "Barlow Condensed", sans-serif;
$heading1-size: 150px;
$heading2-size: 100px;
$heading3-size: 56px;
$heading4-size: 32px;
$heading5-size: 28px;
$heading5-space: 4.75px;
$subheading1-size: 28px;
$subheading2-size: 14px;
$subheading2-space: 2.35px;
$nav-text-size: 16px;
$nav-text-space: 2.7px;