$heading-bell: "Bellefair", serif;
$heading-bar: "Barlow", sans-serif;
$heading-barcon: "Barlow Condensed", sans-serif;

$heading1-size: 150px;
$heading2-size: 100px;
$heading2-line: 115px;
$heading3-size: 56px;
$heading3-space: 64px;
$heading4-size: 40px;
$heading4-line: 46px;
$heading5-size: 28px;
$heading5-line: 32px;
$heading6-size: 24px;
$heading6-line: 28px;
$subheading1-size: 28px;
$subheading2-size: 14px;
$subheading2-line: 17px;
$subheading2-space: 2.3625px;

$header-mobile-size: 16px;
$header-mobile-line: 19px;
$header-mobile-space: 2.7px;
$header-tablet-size: 20px;
$header-tablet-line: 24px;
$header-tablet-space: 3.375px;
$header-desktop-size: 28px;
$header-desktop-line: 34px;
$header-desktop-space: 4.725px;
$para-mobile-size: 15px;
$para-mobile-line: 25px;
$para-tablet-size: 16px;
$para-tablet-line: 28px;
$para-desktop-size: 18px;
$para-desktop-line: 32px;
$nav-text-size: 16px;
$nav-text-line: 19px;
$nav-text-space: 2.7px;
$button-text-size: 32px;
$button-text-line: 37px;
$button-text-space: 2px;