@import '../variables/colors';
@import '../variables/fonts';
@import '../variables/media-queries';

%bgSize {
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.crew-bg {
    background-image: url('../../public/assets/crew/background-crew-mobile.jpg');
    @extend %bgSize;
    background-repeat: no-repeat;
    background-position: center center;
    mix-blend-mode: screen;
    opacity: 0.25;
    min-width: 330px;
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: -1;
    @include tablet {
        min-height: 900px;
        background-image: url('../../public/assets/crew/background-crew-tablet.jpg');
    }
    @include desktop {
        background-image: url('../../public/assets/crew/background-crew-desktop.jpg');
    }
}

.grid-crew {
    min-width: 330px;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: min-content;
    grid-template-areas: 
        "header"
        "picture"
        "nav"
        "text";
    gap: 0px;
    grid-gap: 0px;
    @include tablet {
        grid-template-areas: 
            "header"
            "text"
            "nav"
            "picture";
    }
    @include desktop {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
            "header picture"
            "text picture"
            "nav picture";
    }

    &-header {
        grid-area: header;
        margin: 88px auto 0 auto;
        font-family: $heading-barcon;
        font-size: $nav-text-size;
        color: $light;
        line-height: 19px;
        letter-spacing: $nav-text-space;
        @include tablet {
            margin: 136px auto 60px 38.5px;
            font-size: 20px;
            line-height: 24px;
            letter-spacing: 3.375px;
        }
        @include desktop {
            margin: 212px auto 154px 165px;
            height: 20.89%;
            font-size: $heading5-size;
            line-height: 34px;
            letter-spacing: 4.725px;
        }
        & span {
            opacity: 0.25;
            font-weight: bold;
            margin-right: 16px;
            @include desktop {
                margin-right: 24px;
            }
        }
    }
    &-picture {
        grid-area: picture;
        display: flex;
        justify-content: center;
        width: 327px;
        height: 223px;
        margin: 32px auto;
        border-bottom: 1px solid #383B4B;
        & img {
            @include desktop {
                width: 100%;
                height: auto;
            }
        }
        @include tablet {
            width: fit-content;
            height: 52vh;
            max-height: 710px;
            object-fit: contain;
            margin: 0 auto;
        }
        @include desktop {
            width: fit-content;
            height: 100%;
            margin: auto auto 0 0;
        }
    }
    &-nav {
        grid-area: nav;
        display: flex;
        justify-content: space-around;
        width: 88px;
        margin: 0 auto;
        @include tablet {
            margin: 40px auto;
        }
        @include desktop {
            width: 132px;
            margin: 0 auto 95px 165px;
        }
        &-button {
            width: 10px;
            height: 10px;
            border-radius: 10px;
            border: none;
            background: #FFFFFF;
            opacity: 0.17;
            cursor: pointer;
            & span {
                display: none;
            }
            &:nth-child(1) {
                opacity: 1;
            }
            @include desktop {
                width: 15px;
                height: 15px;
                border-radius: 15px;
            }
        }
    }
    &-text {
        grid-area: text;
        width: 327px;
        margin: 32px auto;
        text-align: center;
        color: $light;
        font-family: $heading-bell;
        @include tablet {
            width: auto;
            margin: 0 88px;
        }
        @include desktop {
            text-align: left;
            margin: 0 auto 120px 165px;
        }
        &-role {
            font-size: $nav-text-size;
            line-height: 18px;
            opacity: 0.5;
            margin-bottom: 8px;
            text-transform: uppercase;
            @include tablet {
                font-size: 24px;
                line-height: $heading5-size;
            }
            @include desktop {
                font-size: $heading4-size;
                line-height: 37px;
                margin-bottom: 15px;
            }
        }
        &-name {
            font-size: 24px;
            line-height: $heading5-size;
            margin-bottom: 16px;
            text-transform: uppercase;
            @include tablet {
                font-size: 40px;
                line-height: 46px;
            }
            @include desktop {
                font-size: $heading3-size;
                line-height: 64px;
                margin-bottom: 27px;
            }
        }
        &-bio {
            font-family: $heading-bar;
            font-size: 15px;
            line-height: 25px;
            color: $blue;
            @include tablet {
                font-size: $nav-text-size;
                line-height: $heading5-size;
            }
            @include desktop {
                max-width: 444px;
                font-size: 18px;
                line-height: $heading4-size;
            }
        }
    }
}