@import '../variables/colors';
@import '../variables/fonts';
@import '../variables/media-queries';

%bgSize {
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.home {
    background-image: url('../../public/assets/home/background-home-mobile.jpg');
    background-position: bottom center;
    background-repeat: no-repeat;
    @extend %bgSize;
    display: flex;
    flex-direction: column;
    min-width: 320px;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    @include tablet {
        background-image: url('../../public/assets/home/background-home-tablet.jpg');
    }
    @include desktop {
        background-image: url('../../public/assets/home/background-home-desktop.jpg');
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;
        padding: 0 77px 43px 165px;
    }

    &-text {
        @include desktop {
            display: flex;
            flex-direction: column;
            margin: 0 298px 88px 0;
        }
        & h1 {
            display: flex;
            flex-direction: column;
            color: $blue;
            font-family: $heading-barcon;
            font-size: $header-mobile-size;
            line-height: $header-mobile-line;
            letter-spacing: $header-mobile-space;
            text-align: center;
            margin: 112px 24px 0 24px;
            @include tablet {
                width: 450px;
                margin: 202px auto 0 auto;
                font-size: $header-tablet-size;
                line-height: $header-tablet-line;
                letter-spacing: $header-tablet-space;
            }
            @include desktop {
                font-size: $header-desktop-size;
                line-height: $header-desktop-line;
                letter-spacing: $header-desktop-space;
                text-align: left;
                margin: 0;
            }
            & span {
                color: $light;
                font-family: $heading-bell;
                font-size: 80px;
                line-height: 100px;
                text-align: center;
                margin: 16px 24px;
                @include tablet {
                    width: 450px;
                    font-size: $heading1-size;
                    line-height: $heading1-size;
                    margin: 24px auto;
                }
                @include desktop {
                    line-height: 172px;
                    text-align: left;
                }
            }
        }
        & h2 {
            color: $blue;
            font-family: $heading-bar;
            font-size: $para-mobile-size;
            line-height: $para-mobile-line;
            text-align: center;
            margin: 0 24px 81px 24px;
            @include tablet {
                width: 450px;
                font-size: $para-tablet-size;
                line-height: $para-tablet-line;
                margin: 0 auto 156px auto;
            }
            @include desktop {
                font-size: $para-desktop-size;
                line-height: $para-desktop-line;
                text-align: left;
                margin: 0;
            }
        }
    }
    &-button {
        margin: 0 auto 50px auto;
        @include tablet {
            margin: 0 auto 90px auto;
        }
        @include desktop {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0;
            width: 450px;
            height: 450px;
            border-radius: 450px;
            padding: 0 176px;
            &.active{
                background-color: #ffffff10;
            }
        }
        & button {
            width: 150px;
            height: 150px;
            padding: 68px 27.5px 59px 29.5px;
            font-family: $heading-bell;
            font-size: 20px;
            line-height: 23px;
            letter-spacing: 1.25px;
            color: $dark;
            border: 1px solid #000000;
            border-radius: 150px;
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
            @include tablet {
                width: 242px;
                height: 242px;
                padding: 103px 48px 102px 46px;
                font-size: $button-text-size;
                line-height: $button-text-line;
                letter-spacing: $button-text-space;
                border: none;
                border-radius: 242px;
                filter: none;
                background-color: $light;
            }
            @include desktop {
                width: 274px;
                height: 274px;
                border-radius: 274px;
                padding: 119px 64px 118px 62px;
                cursor: pointer;
            }
        }
    }
}