@import '../variables/colors';
@import '../variables/fonts';
@import '../variables/media-queries';

.navbar {
    height: 88px;
    position: absolute;
    top: 0;
    z-index: 1;
    min-width: 320px;
    width: 100%;
    display: flex;
    flex-direction: row;
    @include tablet {
        right: 0;
        height: 96px;
        width: 95%;
        align-items: center;
    }
    @include desktop {
        top: 40px;
        width: 96.18%;
    }

    &-logo {
        flex: auto;
        & img {
            height: 40px;
            width: 40px;
            margin: 24px 0 0 24px;
            @include tablet {
                height: 48px;
                width: 48px;
                margin: 0;
            }
        }
    }
    &-line {
        @include desktop {
            position: absolute;
            height: 1px;
            width: calc(100% - 167px - 730px);
            margin-left: 112px;
            background: #383B4B;
        }
    }
    &-links {
        display: none;
        flex-direction: column;
        position: absolute;
        right: 0;
        width: 254px;
        height: 100vh;
        font-family: $heading-barcon;
        background: rgba(255, 255, 255, 0.04);
        backdrop-filter: blur(81.5485px);
        .active {
            border-right: 3px solid $light;
            @include tablet {
                border: 0px;
                border-bottom: 3px solid $light;
            }
        }
        .inactive {
            &:hover {
                border-bottom: 3px solid #ffffff50;
            }
        }
        & > * {
            color: $light;
            text-decoration: none;
            font-weight: 400;
            font-size: $nav-text-size;
            line-height: $nav-text-line;
            letter-spacing: $nav-text-space;
            margin: 0 0 32px 32px;
        }
        &-close {
            margin: 33.95px 26.45px 64.95px auto;
            @include tablet {
                display: none;
            }
        }
        &.active {
            display: flex;
        }
        & span {
            color: $light;
            font-family: $heading-barcon;
            font-weight: 700;
            font-size: $nav-text-size;
            line-height: $nav-text-line;
            letter-spacing: $nav-text-space;
            margin-right: 12px;
            @include tablet {
                display: none;
            }
            @include desktop {
                display: inline;
                font-weight: bold;
            }
        }
        @include tablet {
            display: flex;
            flex-direction: row;
            position: static;
            justify-content: space-around;
            padding-top: 39px;
            width: 450px;
            height: 96px;
            & > * {
                font-size: $subheading2-size;
                line-height: $subheading2-line;
                letter-spacing: $subheading2-space;
                margin: 0;
            }
        }
        @include desktop {
            padding: 39px 165px 0 123px;
            width: 830px;
            & > * {
                cursor: pointer;
                font-size: $nav-text-size;
                line-height: $nav-text-line;
                letter-spacing: $nav-text-space;
            }
        }
    }
    &-hamburger {
        display: none;
        @include mobile {
            display: inline;
        }
        & img {
            height: 21px;
            width: 24px;
            margin: 33px 24px 0 0;
        }
    }
}